<p>Listado de Heroes</p>

<!-- Esto es lo que hice yo en base a la documentacion de Angular -->
<!--  <div *ngIf="heroeBorrado; else elseBlock"><h3>Heroe borrado</h3>
    <span>{{heroeBorrado}}</span></div>
<ng-template #elseBlock><h3 shadow>No hay heroes borrados</h3></ng-template> -->

<!-- Esto es lo que hizo el instructor en el curso -->

<div *ngIf="heroeBorrado !== ''">
    <h3>Heroe borrado: <small>{{heroeBorrado}}</small></h3>
</div>


<button (click)="borrarHeroe()">
    Borrar
</button>

<ul>
    <li *ngFor="let heroe of heroes; let i = index">
       {{i + 1}} - {{heroe}}
    </li>
</ul>

